In [10]:
import pandas as pd

from pandas_datareader import data as pdr
import yfinance as yf

In [11]:
yf.pdr_override()

In [12]:
df_top40_jse_latest = pd.read_csv("../data/stocks/top40_jse_2022.csv")
df_top40_jse_latest.head()

  JSE Code
0      BHG
1      PRX
2      ANH
3      CFR
4      BTI

In [13]:
# Define the companies to get
tickers = list(df_top40_jse_latest['JSE Code'].apply(lambda x: x + '.JO').values)
tickers[:10]

['BHG.JO',
 'PRX.JO',
 'ANH.JO',
 'CFR.JO',
 'BTI.JO',
 'GLN.JO',
 'NPN.JO',
 'AGL.JO',
 'FSR.JO',
 'AMS.JO']

In [14]:
# We would like all available data from the first 4 months
start_date = '2023-01-01'
end_date = '2023-04-30'

In [15]:
company

'BHG.JO'

In [17]:
stock_data = {}
for company in tickers:
    panel_data = pdr.get_data_yahoo(company, start_date, end_date)
    stock_data[company.split('.')[0]] = panel_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [18]:
jse_40_performance = []
companies = []
for company in tickers:
    stock = company.split('.')[0]
    data = stock_data[stock]
    jse_40_performance.append(data['Close'].values)
    companies.append(stock)
    
df_jse_40_performance = pd.DataFrame(jse_40_performance).T
df_jse_40_performance.columns = companies
df_jse_40_performance.index =data.index
df_jse_40_performance.head()

,BHG,PRX,ANH,CFR,BTI,GLN,NPN,AGL,FSR,AMS,...,RNI,APN,INP,REM,NRP,NPH,CLS,WHL,EXX,HAR
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-03,52461.0,123797.0,102322.0,302823.0,68000.0,11320.0,299000.0,66550.0,6246.0,146869.0,...,32914.0,13670.0,10800.0,13500.0,10470.0,19146.0,27413.0,6790.0,21229.0,6150.0
2023-01-04,52200.0,128700.0,102960.0,308131.0,68050.0,10483.0,305994.0,64637.0,6282.0,145500.0,...,32763.0,13726.0,10942.0,13401.0,10341.0,18822.0,27444.0,6815.0,19877.0,6342.0
2023-01-05,54173.0,128646.0,104127.0,311032.0,68629.0,10479.0,303681.0,67595.0,6276.0,149661.0,...,32854.0,13881.0,11000.0,13285.0,10389.0,19400.0,27761.0,6785.0,21021.0,6388.0
2023-01-06,55700.0,130700.0,104195.0,303664.0,69292.0,10837.0,313824.0,71216.0,6218.0,152770.0,...,33231.0,13990.0,10856.0,13340.0,10412.0,20350.0,27935.0,6788.0,21390.0,6740.0
2023-01-09,56136.0,135305.0,102850.0,301539.0,67882.0,11188.0,326172.0,73043.0,6411.0,152261.0,...,33500.0,14278.0,10948.0,13637.0,10595.0,20683.0,28268.0,6902.0,21870.0,6776.0

In [19]:
df_jse_40_performance.to_pickle("../data/stocks/top40_jse_2023_performance.df")
df_jse_40_performance.to_csv("../data/stocks/top40_jse_2023_performance.csv")

In [20]:
pd.read_csv("../data/stocks/top40_jse_2023_performance.csv")

,Date,BHG,PRX,ANH,CFR,BTI,GLN,NPN,AGL,FSR,...,RNI,APN,INP,REM,NRP,NPH,CLS,WHL,EXX,HAR
0,2023-01-03,52461.0,123797.0,102322.0,302823.0,68000.0,11320.0,299000.0,66550.0,6246.0,...,32914.0,13670.0,10800.0,13500.0,10470.0,19146.0,27413.0,6790.0,21229.0,6150.0
1,2023-01-04,52200.0,128700.0,102960.0,308131.0,68050.0,10483.0,305994.0,64637.0,6282.0,...,32763.0,13726.0,10942.0,13401.0,10341.0,18822.0,27444.0,6815.0,19877.0,6342.0
2,2023-01-05,54173.0,128646.0,104127.0,311032.0,68629.0,10479.0,303681.0,67595.0,6276.0,...,32854.0,13881.0,11000.0,13285.0,10389.0,19400.0,27761.0,6785.0,21021.0,6388.0
3,2023-01-06,55700.0,130700.0,104195.0,303664.0,69292.0,10837.0,313824.0,71216.0,6218.0,...,33231.0,13990.0,10856.0,13340.0,10412.0,20350.0,27935.0,6788.0,21390.0,6740.0
4,2023-01-09,56136.0,135305.0,102850.0,301539.0,67882.0,11188.0,326172.0,73043.0,6411.0,...,33500.0,14278.0,10948.0,13637.0,10595.0,20683.0,28268.0,6902.0,21870.0,6776.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2023-04-21,52784.0,137162.0,118250.0,NaN,65515.0,11002.0,324823.0,57439.0,6273.0,...,39150.0,18378.0,9912.0,13782.0,10688.0,17816.0,25933.0,6514.0,19195.0,8048.0
76,2023-04-24,53334.0,134261.0,120540.0,NaN,66400.0,10999.0,318073.0,56775.0,6303.0,...,39300.0,18392.0,9999.0,13767.0,10658.0,17500.0,26352.0,6470.0,19209.0,8334.0
77,2023-04-25,52517.0,133700.0,121200.0,NaN,67551.0,10660.0,316986.0,55474.0,6339.0,...,39559.0,18275.0,9903.0,13831.0,10520.0,17300.0,26842.0,6500.0,19213.0,8350.0
78,2023-04-26,53692.0,136100.0,122314.0,NaN,68769.0,11060.0,323370.0,56158.0,6374.0,...,39988.0,18220.0,10072.0,13973.0,10949.0,17131.0,26607.0,6495.0,19130.0,8524.0
79,2023-04-28,53520.0,137040.0,119411.0,NaN,67083.0,10759.0,326120.0,56070.0,6436.0,...,40002.0,18280.0,10183.0,14003.0,11054.0,17904.0,26734.0,6505.0,19182.0,8557.0